In [1]:


import pandas as pd

In [2]:
inter_sig = {27140, 41480, 29200, 30230, 28185, 11290, 47130, 41500, 46110, 27170, 28710, 28200, 11305, 48170, 47150, 46130, 11320, 27710, 47170, 46150, 45130, 28237, 41550, 48720, 45140, 28245, 47190, 26710, 26200, 11350, 48730, 46170, 48220, 27230, 41570, 48740, 28260, 47210, 48240, 47730, 11380, 41590, 26230, 46710, 44150, 43130, 48250, 45180, 47230, 42110, 45190, 41610, 48270, 45710, 43150, 42130, 47250, 11410, 44180, 46230, 45720, 47770, 27290, 45210, 41630, 44710, 44200, 47280, 11440, 41650, 46770, 48820, 44210, 48310, 42170, 47290, 46780, 41150, 46790, 44230, 48840, 43720, 48330, 45770, 47820, 42190, 11470, 46800, 43730, 47830, 44760, 46810, 44250, 43740, 45790, 42720, 47840, 42210, 44770, 46820, 41190, 48870, 45800, 43750, 42730, 47850, 11500, 26350, 46830, 48880, 43760, 42230, 46840, 48890, 41210, 43770, 42750, 44800, 41730, 41220, 11530, 44810, 26380, 46860, 42770, 46870, 11545, 42780, 47900, 44830, 46880, 41250, 11560, 26410, 46890, 42800, 47920, 46900, 42810, 47930, 46910, 42820, 11590, 26440, 41820, 41310, 11620, 26470, 11110, 11650, 26500, 11140, 31110, 41360, 41370, 30110, 11680, 26530, 11170, 31140, 41390, 29110, 30140, 11710, 11200, 41410, 31170, 28110, 11215, 29140, 41430, 30170, 11740, 11230, 31710, 31200, 29155, 41450, 29170, 30200, 11260, 26110}

In [3]:
inter_sig = list(inter_sig)

In [4]:
inter_sig

[27140,
 41480,
 29200,
 30230,
 28185,
 11290,
 47130,
 41500,
 46110,
 27170,
 28710,
 28200,
 11305,
 48170,
 47150,
 46130,
 11320,
 27710,
 47170,
 46150,
 45130,
 28237,
 41550,
 48720,
 45140,
 28245,
 47190,
 26710,
 26200,
 11350,
 48730,
 46170,
 48220,
 27230,
 41570,
 48740,
 28260,
 47210,
 48240,
 47730,
 11380,
 41590,
 26230,
 46710,
 44150,
 43130,
 48250,
 45180,
 47230,
 42110,
 45190,
 41610,
 48270,
 45710,
 43150,
 42130,
 47250,
 11410,
 44180,
 46230,
 45720,
 47770,
 27290,
 45210,
 41630,
 44710,
 44200,
 47280,
 11440,
 41650,
 46770,
 48820,
 44210,
 48310,
 42170,
 47290,
 46780,
 41150,
 46790,
 44230,
 48840,
 43720,
 48330,
 45770,
 47820,
 42190,
 11470,
 46800,
 43730,
 47830,
 44760,
 46810,
 44250,
 43740,
 45790,
 42720,
 47840,
 42210,
 44770,
 46820,
 41190,
 48870,
 45800,
 43750,
 42730,
 47850,
 11500,
 26350,
 46830,
 48880,
 43760,
 42230,
 46840,
 48890,
 41210,
 43770,
 42750,
 44800,
 41730,
 41220,
 11530,
 44810,
 26380,
 46860,
 42770,
 46870,
 11545,
 42780,
 47900,
 44830,
 46880,
 41250,
 11560,
 26410,
 46890,
 42800,
 47920,
 46900,
 42810,
 47930,
 46910,
 42820,
 11590,
 26440,
 41820,
 41310,
 11620,
 26470,
 11110,
 11650,
 26500,
 11140,
 31110,
 41360,
 41370,
 30110,
 11680,
 26530,
 11170,
 31140,
 41390,
 29110,
 30140,
 11710,
 11200,
 41410,
 31170,
 28110,
 11215,
 29140,
 41430,
 30170,
 11740,
 11230,
 31710,
 31200,
 29155,
 41450,
 29170,
 30200,
 11260,
 26110]

In [5]:
len(inter_sig)

182

In [6]:
def sortbaby(df, sigidx, intersection):
    
    #변수설정
    df_sig = list(df.iloc[:,sigidx])
    del_list = []
    column_name = df.columns[sigidx]
    #없애보자
    for i, sig in enumerate(df_sig):
        if sig in intersection:
            print(sig)
            pass
        else:
            del_list.append(i)
    drop_data = df.drop(del_list, axis=0)
    drop_data = drop_data.drop_duplicates(subset=column_name)
    print(len(del_list))
    #drop_data를 sigidx기준으로 정렬
    sorted_df = drop_data.sort_values(by=column_name)
    
    return sorted_df

In [7]:
df1 = pd.read_csv('/Users/phr/Desktop/BigTeam/big_final/data/표준화데이터.csv', encoding='utf-8')

In [8]:
df1

,Unnamed: 0,진짜 구급차 출동시간 표준화,기대수명 표준화,병원수 표준화,보건시설 표준화,구급차 표준화,의사수 표준화,지방소멸지수 표준화,Unnamed: 8
0,0,1.000000,0.708333,0.125,0.087670,0.384615,1.000000,0.533190,NaN
1,1,1.000000,0.716346,0.100,0.049388,0.230769,0.457711,0.554715,NaN
2,2,1.000000,0.767628,0.050,0.281052,0.307692,0.129353,0.664849,NaN
3,3,1.000000,0.719551,0.125,0.258234,0.153846,0.129353,0.669639,NaN
4,4,1.000000,0.674679,0.125,0.219497,0.307692,0.139303,0.798918,NaN
...,...,...,...,...,...,...,...,...,...
177,177,0.853260,0.084936,0.025,0.719289,0.230769,0.039801,0.047536,NaN
178,178,0.764298,0.213141,0.000,0.712201,0.230769,0.034826,0.015256,NaN
179,179,0.851839,0.278846,0.000,0.621840,0.307692,0.039801,0.040805,NaN
180,180,0.845561,0.376603,0.050,0.545313,0.307692,0.049751,0.107769,NaN
181,181,0.713657,0.125000,0.000,0.691885,0.384615,0.059701,0.006213,NaN

In [9]:
df2 = pd.read_csv('/Users/phr/Desktop/BigTeam/big_final/data/찐3대중증사망.csv', encoding='cp949')

In [10]:
df2

,시군구명,시군구코드,Unnamed: 2,순환계통 사망자 수,순환계통 10만명당 사망률,순환계통 연령 표준화 사망률(10만명당),운수사고 사망자 수,운수사고 10만명당 사망률,운수사고 연령 표준화 사망률(10만명당),낙상 사망자수,낙상 10만명당 사망률,낙상 연령 표준화 사망률(10만명당),Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,강원도 강릉시,42150.0,NaN,335.0,158.1,52.8,19.0,9.0,6.4,11.0,5.2,2.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,강원도 고성군,42820.0,NaN,78.0,290.6,68.4,3.0,11.2,3.4,1.0,3.7,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,강원도 동해시,42170.0,NaN,120.0,133.7,52.0,9.0,10.0,6.3,5.0,5.6,2.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,강원도 삼척시,42230.0,NaN,119.0,186.2,53.7,6.0,9.4,4.3,4.0,6.3,4.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,강원도 속초시,42210.0,NaN,122.0,148.5,53.2,5.0,6.1,4.9,5.0,6.1,2.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"62,370",121.5,53.4,"3,624",7.1,5,"2,722",5.3,2.9
298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,사망자수,사망률(십만명당),연령표준화 사망률(십만명당),사망자수,사망률(십만명당),연령표준화 사망률(십만명당),사망자수,사망률(십만명당),연령표준화 사망률(십만명당)
299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"9,350",98.9,48.2,367,3.9,2.9,423,4.5,2.4

In [11]:
df2 = df2.dropna(subset=['시군구코드'])

In [12]:
df2

,시군구명,시군구코드,Unnamed: 2,순환계통 사망자 수,순환계통 10만명당 사망률,순환계통 연령 표준화 사망률(10만명당),운수사고 사망자 수,운수사고 10만명당 사망률,운수사고 연령 표준화 사망률(10만명당),낙상 사망자수,낙상 10만명당 사망률,낙상 연령 표준화 사망률(10만명당),Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,강원도 강릉시,42150.0,NaN,335.0,158.1,52.8,19.0,9.0,6.4,11.0,5.2,2.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,강원도 고성군,42820.0,NaN,78.0,290.6,68.4,3.0,11.2,3.4,1.0,3.7,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,강원도 동해시,42170.0,NaN,120.0,133.7,52.0,9.0,10.0,6.3,5.0,5.6,2.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,강원도 삼척시,42230.0,NaN,119.0,186.2,53.7,6.0,9.4,4.3,4.0,6.3,4.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,강원도 속초시,42210.0,NaN,122.0,148.5,53.2,5.0,6.1,4.9,5.0,6.1,2.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,충청북도 증평군,43745.0,NaN,47.0,128.9,47.4,7.0,19.2,7.6,4.0,11.0,3.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,충청북도 진천군,43750.0,NaN,111.0,132.0,53.5,14.0,16.6,10.8,5.0,5.9,2.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,충청북도 청주시 상당구,43111.0,NaN,224.0,117.3,55.6,13.0,6.8,4.3,15.0,7.9,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,충청북도 청주시 흥덕구,43113.0,NaN,177.0,66.7,41.0,12.0,4.5,3.3,7.0,2.6,1.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,충청북도 충주시,43130.0,NaN,302.0,144.7,49.9,19.0,9.1,4.6,20.0,9.6,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df2['시군구코드'] = df2['시군구코드'].astype(int)

/var/folders/q4/msgrrlw53plcx_prs66xy2n40000gn/T/ipykernel_25304/3759866608.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['시군구코드'] = df2['시군구코드'].astype(int)

In [14]:
df2

,시군구명,시군구코드,Unnamed: 2,순환계통 사망자 수,순환계통 10만명당 사망률,순환계통 연령 표준화 사망률(10만명당),운수사고 사망자 수,운수사고 10만명당 사망률,운수사고 연령 표준화 사망률(10만명당),낙상 사망자수,낙상 10만명당 사망률,낙상 연령 표준화 사망률(10만명당),Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,강원도 강릉시,42150,NaN,335.0,158.1,52.8,19.0,9.0,6.4,11.0,5.2,2.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,강원도 고성군,42820,NaN,78.0,290.6,68.4,3.0,11.2,3.4,1.0,3.7,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,강원도 동해시,42170,NaN,120.0,133.7,52.0,9.0,10.0,6.3,5.0,5.6,2.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,강원도 삼척시,42230,NaN,119.0,186.2,53.7,6.0,9.4,4.3,4.0,6.3,4.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,강원도 속초시,42210,NaN,122.0,148.5,53.2,5.0,6.1,4.9,5.0,6.1,2.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,충청북도 증평군,43745,NaN,47.0,128.9,47.4,7.0,19.2,7.6,4.0,11.0,3.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,충청북도 진천군,43750,NaN,111.0,132.0,53.5,14.0,16.6,10.8,5.0,5.9,2.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,충청북도 청주시 상당구,43111,NaN,224.0,117.3,55.6,13.0,6.8,4.3,15.0,7.9,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,충청북도 청주시 흥덕구,43113,NaN,177.0,66.7,41.0,12.0,4.5,3.3,7.0,2.6,1.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,충청북도 충주시,43130,NaN,302.0,144.7,49.9,19.0,9.1,4.6,20.0,9.6,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df3 = sortbaby(df2, 1, inter_sig)

42820
42170
42230
42210
42800
42750
42130
42810
42770
42780
42110
42190
42720
42730
41820
41210
41610
41310
41410
41570
41360
41250
41190
41390
41550
41630
41730
41370
41430
41150
41500
41480
41220
41650
41450
41590
48310
48880
48820
48250
48840
48270
48240
48330
48720
48170
48170
48740
48220
48730
48870
48890
47290
47130
47830
47190
47150
47280
47920
47250
47840
47170
47770
47210
47230
47900
47930
47730
47820
47850
29200
29155
29110
29170
29140
27290
27710
27140
27230
27170
30230
30110
30170
30200
30140
26440
26410
26710
26230
26530
26380
26500
26470
26200
26110
26350
11680
11740
11305
11500
11620
11215
11530
11545
11350
11320
11230
11590
11440
11410
11650
11200
11290
11710
11470
11560
11170
11380
11110
11140
11260
31140
31170
31200
31710
31110
28710
28245
28200
28237
28260
28185
28110
46810
46770
46230
46170
46710
46110
46840
46780
46150
46910
46130
46870
46830
46890
46880
46800
46900
46860
46820
46790
45790
45130
45210
45190
45800
45770
45710
45140
45180
45720
44250
44150
44710
44230
44830
44180
44760
44210
44770
44200
44810
44800
43760
43720
43740
43730
43770
43150
43750
43130
63

In [16]:
df3

,시군구명,시군구코드,Unnamed: 2,순환계통 사망자 수,순환계통 10만명당 사망률,순환계통 연령 표준화 사망률(10만명당),운수사고 사망자 수,운수사고 10만명당 사망률,운수사고 연령 표준화 사망률(10만명당),낙상 사망자수,낙상 10만명당 사망률,낙상 연령 표준화 사망률(10만명당),Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
160,서울특별시 종로구,11110,NaN,229.0,160.4,64.5,7.0,4.9,2.5,11.0,7.7,3.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,서울특별시 중구,11140,NaN,194.0,161.1,64.8,4.0,3.3,2.9,10.0,8.3,3.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,서울특별시 용산구,11170,NaN,247.0,113.1,51.5,5.0,2.3,1.5,14.0,6.4,2.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,서울특별시 성동구,11200,NaN,242.0,84.8,41.4,10.0,3.5,2.5,21.0,7.4,4.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,서울특별시 광진구,11215,NaN,337.0,99.4,54.0,14.0,4.1,3.4,14.0,4.1,2.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,경상남도 고성군,48820,NaN,179.0,353.4,81.4,10.0,19.7,6.3,4.0,7.9,4.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,경상남도 남해군,48840,NaN,155.0,365.6,69.5,11.0,25.9,11.0,5.0,11.8,2.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,경상남도 함양군,48870,NaN,142.0,369.4,79.7,14.0,36.4,18.4,5.0,13.0,2.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,경상남도 거창군,48880,NaN,154.0,252.5,57.4,13.0,21.3,9.5,7.0,11.5,2.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,경상남도 합천군,48890,NaN,172.0,399.0,68.3,16.0,37.1,10.0,6.0,13.9,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df3.columns

Index(['시군구명', '시군구코드', 'Unnamed: 2', '순환계통 사망자 수', '순환계통 10만명당 사망률',
       '순환계통 연령 표준화 사망률(10만명당)', '운수사고 사망자 수', '운수사고 10만명당 사망률',
       '운수사고 연령 표준화 사망률(10만명당)', '낙상 사망자수  ', '낙상 10만명당 사망률',
       '낙상 연령 표준화 사망률(10만명당)', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19'],
      dtype='object')

In [18]:
df3['지역별중증사망수치'] = df3['순환계통 10만명당 사망률']+df3['운수사고 10만명당 사망률']+df3['낙상 10만명당 사망률']

In [19]:
df3

,시군구명,시군구코드,Unnamed: 2,순환계통 사망자 수,순환계통 10만명당 사망률,순환계통 연령 표준화 사망률(10만명당),운수사고 사망자 수,운수사고 10만명당 사망률,운수사고 연령 표준화 사망률(10만명당),낙상 사망자수,...,낙상 연령 표준화 사망률(10만명당),Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,지역별중증사망수치
160,서울특별시 종로구,11110,NaN,229.0,160.4,64.5,7.0,4.9,2.5,11.0,...,3.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,173.0
161,서울특별시 중구,11140,NaN,194.0,161.1,64.8,4.0,3.3,2.9,10.0,...,3.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,172.7
158,서울특별시 용산구,11170,NaN,247.0,113.1,51.5,5.0,2.3,1.5,14.0,...,2.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,121.8
153,서울특별시 성동구,11200,NaN,242.0,84.8,41.4,10.0,3.5,2.5,21.0,...,4.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.7
143,서울특별시 광진구,11215,NaN,337.0,99.4,54.0,14.0,4.1,3.4,14.0,...,2.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,경상남도 고성군,48820,NaN,179.0,353.4,81.4,10.0,19.7,6.3,4.0,...,4.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,381.0
62,경상남도 남해군,48840,NaN,155.0,365.6,69.5,11.0,25.9,11.0,5.0,...,2.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,403.3
78,경상남도 함양군,48870,NaN,142.0,369.4,79.7,14.0,36.4,18.4,5.0,...,2.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,418.8
59,경상남도 거창군,48880,NaN,154.0,252.5,57.4,13.0,21.3,9.5,7.0,...,2.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,285.3
79,경상남도 합천군,48890,NaN,172.0,399.0,68.3,16.0,37.1,10.0,6.0,...,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,450.0

In [20]:
df1['지역별중증사망수치'] = df3['지역별중증사망수치']

In [21]:
df1

,Unnamed: 0,진짜 구급차 출동시간 표준화,기대수명 표준화,병원수 표준화,보건시설 표준화,구급차 표준화,의사수 표준화,지방소멸지수 표준화,Unnamed: 8,지역별중증사망수치
0,0,1.000000,0.708333,0.125,0.087670,0.384615,1.000000,0.533190,NaN,NaN
1,1,1.000000,0.716346,0.100,0.049388,0.230769,0.457711,0.554715,NaN,305.5
2,2,1.000000,0.767628,0.050,0.281052,0.307692,0.129353,0.664849,NaN,149.3
3,3,1.000000,0.719551,0.125,0.258234,0.153846,0.129353,0.669639,NaN,201.9
4,4,1.000000,0.674679,0.125,0.219497,0.307692,0.139303,0.798918,NaN,160.7
...,...,...,...,...,...,...,...,...,...,...
177,177,0.853260,0.084936,0.025,0.719289,0.230769,0.039801,0.047536,NaN,NaN
178,178,0.764298,0.213141,0.000,0.712201,0.230769,0.034826,0.015256,NaN,108.4
179,179,0.851839,0.278846,0.000,0.621840,0.307692,0.039801,0.040805,NaN,229.6
180,180,0.845561,0.376603,0.050,0.545313,0.307692,0.049751,0.107769,NaN,345.8
181,181,0.713657,0.125000,0.000,0.691885,0.384615,0.059701,0.006213,NaN,NaN

In [22]:
df1.columns

Index(['Unnamed: 0', '진짜 구급차 출동시간 표준화', '기대수명 표준화', '병원수 표준화', '보건시설 표준화',
       '구급차 표준화', '의사수 표준화', '지방소멸지수 표준화', 'Unnamed: 8', '지역별중증사망수치'],
      dtype='object')

In [23]:
df1 = df1.drop('Unnamed: 0', axis=1)

In [24]:
df1 = df1.drop('Unnamed: 8', axis=1)

In [25]:
df1

,진짜 구급차 출동시간 표준화,기대수명 표준화,병원수 표준화,보건시설 표준화,구급차 표준화,의사수 표준화,지방소멸지수 표준화,지역별중증사망수치
0,1.000000,0.708333,0.125,0.087670,0.384615,1.000000,0.533190,NaN
1,1.000000,0.716346,0.100,0.049388,0.230769,0.457711,0.554715,305.5
2,1.000000,0.767628,0.050,0.281052,0.307692,0.129353,0.664849,149.3
3,1.000000,0.719551,0.125,0.258234,0.153846,0.129353,0.669639,201.9
4,1.000000,0.674679,0.125,0.219497,0.307692,0.139303,0.798918,160.7
...,...,...,...,...,...,...,...,...
177,0.853260,0.084936,0.025,0.719289,0.230769,0.039801,0.047536,NaN
178,0.764298,0.213141,0.000,0.712201,0.230769,0.034826,0.015256,108.4
179,0.851839,0.278846,0.000,0.621840,0.307692,0.039801,0.040805,229.6
180,0.845561,0.376603,0.050,0.545313,0.307692,0.049751,0.107769,345.8
181,0.713657,0.125000,0.000,0.691885,0.384615,0.059701,0.006213,NaN

In [26]:
df3

,시군구명,시군구코드,Unnamed: 2,순환계통 사망자 수,순환계통 10만명당 사망률,순환계통 연령 표준화 사망률(10만명당),운수사고 사망자 수,운수사고 10만명당 사망률,운수사고 연령 표준화 사망률(10만명당),낙상 사망자수,...,낙상 연령 표준화 사망률(10만명당),Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,지역별중증사망수치
160,서울특별시 종로구,11110,NaN,229.0,160.4,64.5,7.0,4.9,2.5,11.0,...,3.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,173.0
161,서울특별시 중구,11140,NaN,194.0,161.1,64.8,4.0,3.3,2.9,10.0,...,3.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,172.7
158,서울특별시 용산구,11170,NaN,247.0,113.1,51.5,5.0,2.3,1.5,14.0,...,2.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,121.8
153,서울특별시 성동구,11200,NaN,242.0,84.8,41.4,10.0,3.5,2.5,21.0,...,4.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.7
143,서울특별시 광진구,11215,NaN,337.0,99.4,54.0,14.0,4.1,3.4,14.0,...,2.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,경상남도 고성군,48820,NaN,179.0,353.4,81.4,10.0,19.7,6.3,4.0,...,4.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,381.0
62,경상남도 남해군,48840,NaN,155.0,365.6,69.5,11.0,25.9,11.0,5.0,...,2.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,403.3
78,경상남도 함양군,48870,NaN,142.0,369.4,79.7,14.0,36.4,18.4,5.0,...,2.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,418.8
59,경상남도 거창군,48880,NaN,154.0,252.5,57.4,13.0,21.3,9.5,7.0,...,2.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,285.3
79,경상남도 합천군,48890,NaN,172.0,399.0,68.3,16.0,37.1,10.0,6.0,...,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,450.0

In [27]:
df3 = df3.reset_index()

In [28]:
df3

,index,시군구명,시군구코드,Unnamed: 2,순환계통 사망자 수,순환계통 10만명당 사망률,순환계통 연령 표준화 사망률(10만명당),운수사고 사망자 수,운수사고 10만명당 사망률,운수사고 연령 표준화 사망률(10만명당),...,낙상 연령 표준화 사망률(10만명당),Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,지역별중증사망수치
0,160,서울특별시 종로구,11110,NaN,229.0,160.4,64.5,7.0,4.9,2.5,...,3.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,173.0
1,161,서울특별시 중구,11140,NaN,194.0,161.1,64.8,4.0,3.3,2.9,...,3.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,172.7
2,158,서울특별시 용산구,11170,NaN,247.0,113.1,51.5,5.0,2.3,1.5,...,2.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,121.8
3,153,서울특별시 성동구,11200,NaN,242.0,84.8,41.4,10.0,3.5,2.5,...,4.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.7
4,143,서울특별시 광진구,11215,NaN,337.0,99.4,54.0,14.0,4.1,3.4,...,2.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,60,경상남도 고성군,48820,NaN,179.0,353.4,81.4,10.0,19.7,6.3,...,4.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,381.0
178,62,경상남도 남해군,48840,NaN,155.0,365.6,69.5,11.0,25.9,11.0,...,2.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,403.3
179,78,경상남도 함양군,48870,NaN,142.0,369.4,79.7,14.0,36.4,18.4,...,2.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,418.8
180,59,경상남도 거창군,48880,NaN,154.0,252.5,57.4,13.0,21.3,9.5,...,2.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,285.3
181,79,경상남도 합천군,48890,NaN,172.0,399.0,68.3,16.0,37.1,10.0,...,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,450.0

In [29]:
df_final = pd.read_csv('/Users/phr/Desktop/BigTeam/big_final/data/표준화final.csv', encoding='utf-8')

In [30]:
df_final

,행정구역,sig_cd,진짜 구급차 출동시간 표준화,기대수명 표준화,병원수 표준화,보건시설 표준화,구급차 표준화,의사수 표준화,지방소멸지수 표준화
0,서울특별시 종로구,11110,1.000000,0.708333,0.125,0.087670,0.384615,1.000000,0.533190
1,서울특별시 중구,11140,1.000000,0.716346,0.100,0.049388,0.230769,0.457711,0.554715
2,서울특별시 용산구,11170,1.000000,0.767628,0.050,0.281052,0.307692,0.129353,0.664849
3,서울특별시 성동구,11200,1.000000,0.719551,0.125,0.258234,0.153846,0.129353,0.669639
4,서울특별시 광진구,11215,1.000000,0.674679,0.125,0.219497,0.307692,0.139303,0.798918
...,...,...,...,...,...,...,...,...,...
177,경상남도 고성군,48820,0.853260,0.084936,0.025,0.719289,0.230769,0.039801,0.047536
178,경상남도 남해군,48840,0.764298,0.213141,0.000,0.712201,0.230769,0.034826,0.015256
179,경상남도 함양군,48870,0.851839,0.278846,0.000,0.621840,0.307692,0.039801,0.040805
180,경상남도 거창군,48880,0.845561,0.376603,0.050,0.545313,0.307692,0.049751,0.107769
181,경상남도 합천군,48890,0.713657,0.125000,0.000,0.691885,0.384615,0.059701,0.006213

In [31]:
df_final['지역별중증사망수치'] = df3['지역별중증사망수치']

In [32]:
df_final

,행정구역,sig_cd,진짜 구급차 출동시간 표준화,기대수명 표준화,병원수 표준화,보건시설 표준화,구급차 표준화,의사수 표준화,지방소멸지수 표준화,지역별중증사망수치
0,서울특별시 종로구,11110,1.000000,0.708333,0.125,0.087670,0.384615,1.000000,0.533190,173.0
1,서울특별시 중구,11140,1.000000,0.716346,0.100,0.049388,0.230769,0.457711,0.554715,172.7
2,서울특별시 용산구,11170,1.000000,0.767628,0.050,0.281052,0.307692,0.129353,0.664849,121.8
3,서울특별시 성동구,11200,1.000000,0.719551,0.125,0.258234,0.153846,0.129353,0.669639,95.7
4,서울특별시 광진구,11215,1.000000,0.674679,0.125,0.219497,0.307692,0.139303,0.798918,107.6
...,...,...,...,...,...,...,...,...,...,...
177,경상남도 고성군,48820,0.853260,0.084936,0.025,0.719289,0.230769,0.039801,0.047536,381.0
178,경상남도 남해군,48840,0.764298,0.213141,0.000,0.712201,0.230769,0.034826,0.015256,403.3
179,경상남도 함양군,48870,0.851839,0.278846,0.000,0.621840,0.307692,0.039801,0.040805,418.8
180,경상남도 거창군,48880,0.845561,0.376603,0.050,0.545313,0.307692,0.049751,0.107769,285.3
181,경상남도 합천군,48890,0.713657,0.125000,0.000,0.691885,0.384615,0.059701,0.006213,450.0

In [33]:
df_final.to_csv('./final_data.csv')

In [34]:
df_final.columns

Index(['행정구역', 'sig_cd', '진짜 구급차 출동시간 표준화', '기대수명 표준화', '병원수 표준화', '보건시설 표준화',
       '구급차 표준화', '의사수 표준화', '지방소멸지수 표준화', '지역별중증사망수치'],
      dtype='object')

In [35]:
column_indices = ['진짜 구급차 출동시간 표준화', '기대수명 표준화', '병원수 표준화', '보건시설 표준화',
       '구급차 표준화', '의사수 표준화', '지방소멸지수 표준화', '지역별중증사망수치']

In [36]:
column_indices

['진짜 구급차 출동시간 표준화',
 '기대수명 표준화',
 '병원수 표준화',
 '보건시설 표준화',
 '구급차 표준화',
 '의사수 표준화',
 '지방소멸지수 표준화',
 '지역별중증사망수치']

In [37]:
correlation = df_final[column_indices].corr()

In [38]:
print(correlation)

                 진짜 구급차 출동시간 표준화  기대수명 표준화   병원수 표준화  보건시설 표준화   구급차 표준화  \
진짜 구급차 출동시간 표준화         1.000000  0.316558  0.273364 -0.375482 -0.346761
기대수명 표준화                0.316558  1.000000  0.433065 -0.670056  0.058016
병원수 표준화                 0.273364  0.433065  1.000000 -0.623187  0.360629
보건시설 표준화               -0.375482 -0.670056 -0.623187  1.000000 -0.148327
구급차 표준화                -0.346761  0.058016  0.360629 -0.148327  1.000000
의사수 표준화                 0.266790  0.432631  0.285555 -0.487888  0.016239
지방소멸지수 표준화              0.289177  0.682463  0.579664 -0.834648  0.153211
지역별중증사망수치              -0.214740 -0.595135 -0.516977  0.738802 -0.240178

                  의사수 표준화  지방소멸지수 표준화  지역별중증사망수치
진짜 구급차 출동시간 표준화  0.266790    0.289177  -0.214740
기대수명 표준화         0.432631    0.682463  -0.595135
병원수 표준화          0.285555    0.579664  -0.516977
보건시설 표준화        -0.487888   -0.834648   0.738802
구급차 표준화          0.016239    0.153211  -0.240178
의사수 표준화          1.000000    0.247289  -0.190416
지방소멸지수 표준화       0.247289    1.000000  -0.808690
지역별중증사망수치       -0.190416   -0.808690   1.000000

In [39]:
df_love = pd.DataFrame()

In [40]:
df_love['지역별중증사망수치'] = df_final['지역별중증사망수치']

In [41]:
df_love

     지역별중증사망수치
0        173.0
1        172.7
2        121.8
3         95.7
4        107.6
..         ...
177      381.0
178      403.3
179      418.8
180      285.3
181      450.0

[182 rows x 1 columns]

In [42]:
df_love.to_csv('./deathbaby.csv')

In [43]:
final_emci = df_final

In [44]:
final_emci

,행정구역,sig_cd,진짜 구급차 출동시간 표준화,기대수명 표준화,병원수 표준화,보건시설 표준화,구급차 표준화,의사수 표준화,지방소멸지수 표준화,지역별중증사망수치
0,서울특별시 종로구,11110,1.000000,0.708333,0.125,0.087670,0.384615,1.000000,0.533190,173.0
1,서울특별시 중구,11140,1.000000,0.716346,0.100,0.049388,0.230769,0.457711,0.554715,172.7
2,서울특별시 용산구,11170,1.000000,0.767628,0.050,0.281052,0.307692,0.129353,0.664849,121.8
3,서울특별시 성동구,11200,1.000000,0.719551,0.125,0.258234,0.153846,0.129353,0.669639,95.7
4,서울특별시 광진구,11215,1.000000,0.674679,0.125,0.219497,0.307692,0.139303,0.798918,107.6
...,...,...,...,...,...,...,...,...,...,...
177,경상남도 고성군,48820,0.853260,0.084936,0.025,0.719289,0.230769,0.039801,0.047536,381.0
178,경상남도 남해군,48840,0.764298,0.213141,0.000,0.712201,0.230769,0.034826,0.015256,403.3
179,경상남도 함양군,48870,0.851839,0.278846,0.000,0.621840,0.307692,0.039801,0.040805,418.8
180,경상남도 거창군,48880,0.845561,0.376603,0.050,0.545313,0.307692,0.049751,0.107769,285.3
181,경상남도 합천군,48890,0.713657,0.125000,0.000,0.691885,0.384615,0.059701,0.006213,450.0

In [45]:
final_emci.columns

Index(['행정구역', 'sig_cd', '진짜 구급차 출동시간 표준화', '기대수명 표준화', '병원수 표준화', '보건시설 표준화',
       '구급차 표준화', '의사수 표준화', '지방소멸지수 표준화', '지역별중증사망수치'],
      dtype='object')

In [46]:
# 지역별 중증사망수치 표준화해서 상관관계 분석

In [47]:
df_add = pd.read_csv('/Users/phr/Desktop/BigTeam/big_final/data/deathbaby_transforemed.csv', encoding='cp949')

In [48]:
df_add

     지역별 중증사망수치 표준화 (1에서 뺀값)
0                   0.731625
1                   0.732350
2                   0.855416
3                   0.918520
4                   0.889749
..                       ...
174                 0.228723
175                 0.174807
176                 0.137331
177                 0.460106
178                 0.061896

[179 rows x 1 columns]

In [49]:
df_final['정규화사망수치'] = df_add['지역별 중증사망수치 표준화 (1에서 뺀값)']

In [50]:
df_final

,행정구역,sig_cd,진짜 구급차 출동시간 표준화,기대수명 표준화,병원수 표준화,보건시설 표준화,구급차 표준화,의사수 표준화,지방소멸지수 표준화,지역별중증사망수치,정규화사망수치
0,서울특별시 종로구,11110,1.000000,0.708333,0.125,0.087670,0.384615,1.000000,0.533190,173.0,0.731625
1,서울특별시 중구,11140,1.000000,0.716346,0.100,0.049388,0.230769,0.457711,0.554715,172.7,0.732350
2,서울특별시 용산구,11170,1.000000,0.767628,0.050,0.281052,0.307692,0.129353,0.664849,121.8,0.855416
3,서울특별시 성동구,11200,1.000000,0.719551,0.125,0.258234,0.153846,0.129353,0.669639,95.7,0.918520
4,서울특별시 광진구,11215,1.000000,0.674679,0.125,0.219497,0.307692,0.139303,0.798918,107.6,0.889749
...,...,...,...,...,...,...,...,...,...,...,...
177,경상남도 고성군,48820,0.853260,0.084936,0.025,0.719289,0.230769,0.039801,0.047536,381.0,0.460106
178,경상남도 남해군,48840,0.764298,0.213141,0.000,0.712201,0.230769,0.034826,0.015256,403.3,0.061896
179,경상남도 함양군,48870,0.851839,0.278846,0.000,0.621840,0.307692,0.039801,0.040805,418.8,NaN
180,경상남도 거창군,48880,0.845561,0.376603,0.050,0.545313,0.307692,0.049751,0.107769,285.3,NaN
181,경상남도 합천군,48890,0.713657,0.125000,0.000,0.691885,0.384615,0.059701,0.006213,450.0,NaN

In [51]:
column_indices2 = ['진짜 구급차 출동시간 표준화', '기대수명 표준화', '병원수 표준화', '보건시설 표준화',
       '구급차 표준화', '의사수 표준화', '지방소멸지수 표준화', '정규화사망수치']

In [52]:
corrr = df_final[column_indices2].corr()

In [53]:
print(corrr)

                 진짜 구급차 출동시간 표준화  기대수명 표준화   병원수 표준화  보건시설 표준화   구급차 표준화  \
진짜 구급차 출동시간 표준화         1.000000  0.316558  0.273364 -0.375482 -0.346761
기대수명 표준화                0.316558  1.000000  0.433065 -0.670056  0.058016
병원수 표준화                 0.273364  0.433065  1.000000 -0.623187  0.360629
보건시설 표준화               -0.375482 -0.670056 -0.623187  1.000000 -0.148327
구급차 표준화                -0.346761  0.058016  0.360629 -0.148327  1.000000
의사수 표준화                 0.266790  0.432631  0.285555 -0.487888  0.016239
지방소멸지수 표준화              0.289177  0.682463  0.579664 -0.834648  0.153211
정규화사망수치                 0.219749  0.513941  0.522698 -0.575295  0.218108

                  의사수 표준화  지방소멸지수 표준화   정규화사망수치
진짜 구급차 출동시간 표준화  0.266790    0.289177  0.219749
기대수명 표준화         0.432631    0.682463  0.513941
병원수 표준화          0.285555    0.579664  0.522698
보건시설 표준화        -0.487888   -0.834648 -0.575295
구급차 표준화          0.016239    0.153211  0.218108
의사수 표준화          1.000000    0.247289  0.178131
지방소멸지수 표준화       0.247289    1.000000  0.670731
정규화사망수치          0.178131    0.670731  1.000000

In [54]:
final_emci

,행정구역,sig_cd,진짜 구급차 출동시간 표준화,기대수명 표준화,병원수 표준화,보건시설 표준화,구급차 표준화,의사수 표준화,지방소멸지수 표준화,지역별중증사망수치,정규화사망수치
0,서울특별시 종로구,11110,1.000000,0.708333,0.125,0.087670,0.384615,1.000000,0.533190,173.0,0.731625
1,서울특별시 중구,11140,1.000000,0.716346,0.100,0.049388,0.230769,0.457711,0.554715,172.7,0.732350
2,서울특별시 용산구,11170,1.000000,0.767628,0.050,0.281052,0.307692,0.129353,0.664849,121.8,0.855416
3,서울특별시 성동구,11200,1.000000,0.719551,0.125,0.258234,0.153846,0.129353,0.669639,95.7,0.918520
4,서울특별시 광진구,11215,1.000000,0.674679,0.125,0.219497,0.307692,0.139303,0.798918,107.6,0.889749
...,...,...,...,...,...,...,...,...,...,...,...
177,경상남도 고성군,48820,0.853260,0.084936,0.025,0.719289,0.230769,0.039801,0.047536,381.0,0.460106
178,경상남도 남해군,48840,0.764298,0.213141,0.000,0.712201,0.230769,0.034826,0.015256,403.3,0.061896
179,경상남도 함양군,48870,0.851839,0.278846,0.000,0.621840,0.307692,0.039801,0.040805,418.8,NaN
180,경상남도 거창군,48880,0.845561,0.376603,0.050,0.545313,0.307692,0.049751,0.107769,285.3,NaN
181,경상남도 합천군,48890,0.713657,0.125000,0.000,0.691885,0.384615,0.059701,0.006213,450.0,NaN

In [55]:
final_emci.columns

Index(['행정구역', 'sig_cd', '진짜 구급차 출동시간 표준화', '기대수명 표준화', '병원수 표준화', '보건시설 표준화',
       '구급차 표준화', '의사수 표준화', '지방소멸지수 표준화', '지역별중증사망수치', '정규화사망수치'],
      dtype='object')

In [56]:
final_emci['진짜 구급차 출동시간 표준화'] = final_emci['진짜 구급차 출동시간 표준화']*8
final_emci['기대수명 표준화'] = final_emci['기대수명 표준화']*24
final_emci['병원수 표준화'] = final_emci['병원수 표준화']*20
final_emci['보건시설 표준화'] = final_emci['보건시설 표준화']*0
final_emci['구급차 표준화'] = final_emci['구급차 표준화']*8
final_emci['의사수 표준화'] = final_emci['의사수 표준화']*8
final_emci['지방소멸지수 표준화'] = final_emci['지방소멸지수 표준화']*32

In [57]:
final_emci

,행정구역,sig_cd,진짜 구급차 출동시간 표준화,기대수명 표준화,병원수 표준화,보건시설 표준화,구급차 표준화,의사수 표준화,지방소멸지수 표준화,지역별중증사망수치,정규화사망수치
0,서울특별시 종로구,11110,8.000000,17.000000,2.5,0.0,3.076923,8.000000,17.062067,173.0,0.731625
1,서울특별시 중구,11140,8.000000,17.192308,2.0,0.0,1.846154,3.661692,17.750882,172.7,0.732350
2,서울특별시 용산구,11170,8.000000,18.423077,1.0,0.0,2.461538,1.034826,21.275174,121.8,0.855416
3,서울특별시 성동구,11200,8.000000,17.269231,2.5,0.0,1.230769,1.034826,21.428447,95.7,0.918520
4,서울특별시 광진구,11215,8.000000,16.192308,2.5,0.0,2.461538,1.114428,25.565373,107.6,0.889749
...,...,...,...,...,...,...,...,...,...,...,...
177,경상남도 고성군,48820,6.826077,2.038462,0.5,0.0,1.846154,0.318408,1.521162,381.0,0.460106
178,경상남도 남해군,48840,6.114388,5.115385,0.0,0.0,1.846154,0.278607,0.488178,403.3,0.061896
179,경상남도 함양군,48870,6.814715,6.692308,0.0,0.0,2.461538,0.318408,1.305762,418.8,NaN
180,경상남도 거창군,48880,6.764485,9.038462,1.0,0.0,2.461538,0.398010,3.448617,285.3,NaN
181,경상남도 합천군,48890,5.709260,3.000000,0.0,0.0,3.076923,0.477612,0.198816,450.0,NaN

In [58]:
final_emci['emci'] = final_emci['진짜 구급차 출동시간 표준화'] + final_emci['기대수명 표준화'] + final_emci['병원수 표준화'] + final_emci['구급차 표준화']+ final_emci['의사수 표준화'] + final_emci['지방소멸지수 표준화']

In [59]:
final_emci

,행정구역,sig_cd,진짜 구급차 출동시간 표준화,기대수명 표준화,병원수 표준화,보건시설 표준화,구급차 표준화,의사수 표준화,지방소멸지수 표준화,지역별중증사망수치,정규화사망수치,emci
0,서울특별시 종로구,11110,8.000000,17.000000,2.5,0.0,3.076923,8.000000,17.062067,173.0,0.731625,55.638990
1,서울특별시 중구,11140,8.000000,17.192308,2.0,0.0,1.846154,3.661692,17.750882,172.7,0.732350,50.451035
2,서울특별시 용산구,11170,8.000000,18.423077,1.0,0.0,2.461538,1.034826,21.275174,121.8,0.855416,52.194615
3,서울특별시 성동구,11200,8.000000,17.269231,2.5,0.0,1.230769,1.034826,21.428447,95.7,0.918520,51.463272
4,서울특별시 광진구,11215,8.000000,16.192308,2.5,0.0,2.461538,1.114428,25.565373,107.6,0.889749,55.833647
...,...,...,...,...,...,...,...,...,...,...,...,...
177,경상남도 고성군,48820,6.826077,2.038462,0.5,0.0,1.846154,0.318408,1.521162,381.0,0.460106,13.050262
178,경상남도 남해군,48840,6.114388,5.115385,0.0,0.0,1.846154,0.278607,0.488178,403.3,0.061896,13.842711
179,경상남도 함양군,48870,6.814715,6.692308,0.0,0.0,2.461538,0.318408,1.305762,418.8,NaN,17.592732
180,경상남도 거창군,48880,6.764485,9.038462,1.0,0.0,2.461538,0.398010,3.448617,285.3,NaN,23.111112
181,경상남도 합천군,48890,5.709260,3.000000,0.0,0.0,3.076923,0.477612,0.198816,450.0,NaN,12.462611

In [60]:
final_emci = final_emci.sort_values('emci')

In [61]:
final_emci = final_emci.reset_index(drop=True)

In [62]:
final_emci.head(30)

,행정구역,sig_cd,진짜 구급차 출동시간 표준화,기대수명 표준화,병원수 표준화,보건시설 표준화,구급차 표준화,의사수 표준화,지방소멸지수 표준화,지역별중증사망수치,정규화사망수치,emci
0,전라남도 진도군,46900,6.893050,0.000000,0.5,0.0,1.846154,0.437811,1.791210,328.0,0.632979,11.468225
1,경상남도 합천군,48890,5.709260,3.000000,0.0,0.0,3.076923,0.477612,0.198816,450.0,NaN,12.462611
2,경상남도 고성군,48820,6.826077,2.038462,0.5,0.0,1.846154,0.318408,1.521162,381.0,0.460106,13.050262
3,경상남도 의령군,48720,6.857969,4.115385,0.0,0.0,1.230769,0.199005,0.662017,124.4,0.228723,13.065145
4,강원도 철원군,42780,5.042618,0.115385,0.0,0.0,1.846154,0.238806,5.926777,242.3,0.564072,13.169740
5,경상북도 청도군,47820,6.509051,4.346154,0.5,0.0,1.230769,0.477612,0.460262,475.6,0.723888,13.523847
6,경상남도 남해군,48840,6.114388,5.115385,0.0,0.0,1.846154,0.278607,0.488178,403.3,0.061896,13.842711
7,경상남도 창녕군,48740,6.740168,2.307692,0.5,0.0,2.461538,0.477612,1.551458,353.0,0.137331,14.038468
8,충청북도 괴산군,43760,6.231889,3.461538,0.5,0.0,3.076923,0.318408,0.664523,285.5,0.459623,14.253282
9,경상북도 성주군,47840,6.926835,4.730769,0.0,0.0,1.230769,0.398010,1.399913,372.9,0.147485,14.686297
10,강원도 고성군,42820,6.224215,2.230769,2.0,0.0,1.230769,0.000000,3.137641,305.5,0.411267,14.823395
11,전라남도 해남군,46820,4.829341,3.153846,1.0,0.0,3.692308,0.517413,1.819194,392.1,0.549807,15.012101
12,경상북도 영덕군,47770,6.821193,5.384615,0.0,0.0,1.846154,0.398010,0.600653,455.8,0.248308,15.050625
13,전라남도 신안군,46910,5.436484,4.423077,0.5,0.0,3.692308,0.597015,0.535884,329.2,0.627418,15.184767
14,전라남도 고흥군,46770,5.740454,5.615385,1.5,0.0,1.846154,0.477612,0.175138,345.8,0.629594,15.354742
15,전라북도 진안군,45720,6.810230,4.576923,0.5,0.0,1.846154,0.477612,1.232781,363.2,0.428675,15.443701
16,경상북도 의성군,47730,6.166411,2.846154,0.5,0.0,5.538462,0.398010,0.000000,464.4,0.130803,15.449037
17,전라북도 순창군,45770,7.217351,4.230769,0.0,0.0,1.846154,0.597015,1.756290,323.5,0.341634,15.647579
18,전라남도 완도군,46890,6.043827,4.423077,0.0,0.0,3.692308,0.398010,1.732680,346.5,0.642166,16.289901
19,강원도 정선군,42770,6.643395,2.769231,0.5,0.0,4.307692,0.119403,2.119122,234.6,0.582689,16.458844
20,경상북도 봉화군,47920,6.332349,7.923077,0.0,0.0,1.846154,0.199005,0.182338,414.6,0.703337,16.482923
21,충청북도 옥천군,43730,6.714455,4.692308,0.0,0.0,2.461538,0.398010,2.418874,237.8,0.574952,16.685185
22,충청북도 보은군,43720,6.862254,6.653846,0.0,0.0,1.846154,0.477612,0.947835,375.8,0.241296,16.787701
23,전라남도 함평군,46860,6.812822,6.692308,0.5,0.0,1.230769,0.636816,0.935210,248.2,0.312137,16.807924
24,충청북도 음성군,43770,4.158513,2.115385,0.5,0.0,3.692308,0.358209,6.044234,180.4,0.713733,16.868649
25,경상북도 고령군,47830,7.412092,6.346154,0.0,0.0,1.230769,0.318408,1.581989,421.5,0.552708,16.889412
26,전라남도 영광군,46870,6.355869,2.846154,0.5,0.0,2.461538,0.716418,4.102529,251.1,0.356867,16.982508
27,충청남도 부여군,44760,5.904797,7.115385,0.0,0.0,2.461538,0.398010,1.262039,313.4,0.172147,17.141769
28,경기도 가평군,41820,5.151549,4.500000,0.5,0.0,2.461538,0.318408,4.215682,231.5,0.590184,17.147177
29,경상북도 영천시,47230,5.311507,4.000000,0.5,0.0,3.692308,0.437811,3.592409,295.7,0.721228,17.534035

In [63]:
final_emci.to_csv('./emci_fianl_list')