In [1]:
import pandas as pd

In [24]:
df = pd.DataFrame(
{
    '고령화': [11, 11.5, 11.9, 12.4, 12.8, 13.2, 13.8, 14.3, 14.9, 15.7],
    '데이터':[50.5, 50.8, 51.4, 52.0, 52.7, 53.5, 54.6, 56.5, 57.6, 59.8]
}, index = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
)

In [25]:
df

       고령화   데이터
2011  11.0  50.5
2012  11.5  50.8
2013  11.9  51.4
2014  12.4  52.0
2015  12.8  52.7
2016  13.2  53.5
2017  13.8  54.6
2018  14.3  56.5
2019  14.9  57.6
2020  15.7  59.8

In [26]:
from statsmodels.formula.api import ols,glm

In [27]:
Rformula = '데이터 ~ 고령화'

In [28]:
regression_result = ols(Rformula, data=df).fit()

In [29]:
regression_result.summary()

/Users/phr/opt/anaconda3/lib/python3.9/site-packages/scipy/stats/stats.py:1541: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    데이터   R-squared:                       0.970
Model:                            OLS   Adj. R-squared:                  0.967
Method:                 Least Squares   F-statistic:                     262.8
Date:                Sun, 18 Jun 2023   Prob (F-statistic):           2.11e-07
Time:                        14:43:56   Log-Likelihood:                -7.4743
No. Observations:                  10   AIC:                             18.95
Df Residuals:                       8   BIC:                             19.55
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     27.3066      1.653     16.521      0.000      23.495      31.118
고령화            2.0254      0.125     16.211      0.000       1.737       2.313
==============================================================================
Omnibus:                        0.802   Durbin-Watson:                   0.722
Prob(Omnibus):                  0.670   Jarque-Bera (JB):                0.666
Skew:                           0.343   Prob(JB):                        0.717
Kurtosis:                       1.938   Cond. No.                         122.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [30]:
df_predict = pd.DataFrame({'고령화':[15.7, 20.6, 25.5, 30.1, 34.4, 37.4, 40.1]},
                         index = [2020, 2025, 2030, 2035, 2040, 2045, 2050])

In [31]:
sample = df_predict[:][:]

In [34]:
sample_predict = regression_result.predict(sample)

In [35]:
sample_predict

2020     59.104650
2025     69.028878
2030     78.953107
2035     88.269730
2040     96.978747
2045    103.054805
2050    108.523258
dtype: float64

In [39]:
df_predict2 = pd.DataFrame({'고령화':[16.6, 18.4, 20.6, 22.7, 24.6, 26.4, 28.1, 30.1]},
                          index=[2021, 2023, 2025, 2027, 2029, 2031, 2033, 2035 ])

In [40]:
sample_predict2 = regression_result.predict(df_predict2)

In [41]:
sample_predict2

2021    60.927467
2023    64.573102
2025    69.028878
2027    73.282119
2029    77.130289
2031    80.775924
2033    84.219024
2035    88.269730
dtype: float64

In [42]:
df_predict2['60세이상비율'] = sample_predict2

In [43]:
df_predict2

       고령화    60세이상비율
2021  16.6  60.927467
2023  18.4  64.573102
2025  20.6  69.028878
2027  22.7  73.282119
2029  24.6  77.130289
2031  26.4  80.775924
2033  28.1  84.219024
2035  30.1  88.269730

In [45]:
df_predict2.to_csv('시각화.csv')