In [31]:
import pandas as pd
import matplotlib.pyplot as plt
plt.rc('font', family = 'AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

# 뇌졸증

In [32]:
location1 = '/Users/phr/Desktop/BigTeam/data/뇌졸증_시도.csv'
#location2 = '/Users/phr/Desktop/BigTeam/data/뇌졸증_나이.csv'

In [54]:
df_1 = pd.read_csv(location1, encoding='cp949', index_col = 0) 
#df_2 = pd.read_csv(location2, encoding='cp949', index_col = 0)

In [55]:
df_1

,지역별(1),2014,2015,2016,2017,2018,2019,2020,2021
응급진료결과별(1),,,,,,,,,
응급진료결과별(1),지역별(1),뇌졸중 환자의 응급진료 결과 현황,뇌졸중 환자의 응급진료 결과 현황,뇌졸중 환자의 응급진료 결과 현황,뇌졸중 환자의 응급진료 결과 현황,뇌졸중 환자의 응급진료 결과 현황,뇌졸중 환자의 응급진료 결과 현황,뇌졸중 환자의 응급진료 결과 현황,뇌졸중 환자의 응급진료 결과 현황
계,전체,93670,94813,102529,111727,113455,120584,112874,120305
계,서울,23220,22444,24006,25562,25811,24653,24086,25348
계,부산,4904,5281,5244,5605,6108,6610,6441,6868
계,대구,7124,6897,7250,7539,7387,8217,7234,7686
...,...,...,...,...,...,...,...,...,...
미상/미입력,전북,-,2,6,2,-,-,-,-
미상/미입력,전남,-,-,-,2,-,1,1,-
미상/미입력,경북,-,-,-,-,-,-,-,-
미상/미입력,경남,38,18,-,3,1,1,-,-
미상/미입력,제주,-,-,-,-,-,-,-,-

In [56]:
loc_list = df_1['지역별(1)'].unique()

In [57]:
loc_list

array(['지역별(1)', '전체', '서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종',
       '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주'], dtype=object)

In [58]:
loc_list = loc_list[1:]

In [59]:
loc_list

array(['전체', '서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원',
       '충북', '충남', '전북', '전남', '경북', '경남', '제주'], dtype=object)

In [60]:
loc_list = list(loc_list)

In [61]:
loc_list

['전체',
 '서울',
 '부산',
 '대구',
 '인천',
 '광주',
 '대전',
 '울산',
 '세종',
 '경기',
 '강원',
 '충북',
 '충남',
 '전북',
 '전남',
 '경북',
 '경남',
 '제주']

In [63]:
tot_data = df_1.loc['계', '2014']

In [64]:
tot_data

응급진료결과별(1)
계    93670
계    23220
계     4904
계     7124
계     3703
계     4095
계     4829
계     1254
계        -
계    19651
계     3497
계     1821
계     3074
계     4344
계     1931
계     4133
계     4527
계     1563
Name: 2014, dtype: object

In [65]:
year_list = list(df_1.columns)

In [66]:
year_list

['지역별(1)', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']

In [67]:
year_list = year_list[1:]

In [68]:
year_list

['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']

In [71]:
die_data = df_1.loc['사망', '2014']

In [72]:
die_data

응급진료결과별(1)
사망    423
사망     45
사망     19
사망     42
사망     14
사망     33
사망     23
사망      5
사망      -
사망     60
사망     19
사망     10
사망     11
사망     21
사망      7
사망     15
사망     97
사망      2
Name: 2014, dtype: object

In [74]:
die_rate_dic = {}
die_rate_list = []

In [76]:
loc_list

['전체',
 '서울',
 '부산',
 '대구',
 '인천',
 '광주',
 '대전',
 '울산',
 '세종',
 '경기',
 '강원',
 '충북',
 '충남',
 '전북',
 '전남',
 '경북',
 '경남',
 '제주']

In [78]:
loc_list = loc_list[1:]

In [79]:
tot_list = []

In [81]:
for i in year_list:
    series = df_1.loc['계',i]
    tot_list.append(series)

In [82]:
tot_list

[응급진료결과별(1)
 계    93670
 계    23220
 계     4904
 계     7124
 계     3703
 계     4095
 계     4829
 계     1254
 계        -
 계    19651
 계     3497
 계     1821
 계     3074
 계     4344
 계     1931
 계     4133
 계     4527
 계     1563
 Name: 2014, dtype: object,
 응급진료결과별(1)
 계    94813
 계    22444
 계     5281
 계     6897
 계     4271
 계     4773
 계     4325
 계     1416
 계        -
 계    19209
 계     3729
 계     1773
 계     3071
 계     5344
 계     1912
 계     4403
 계     4372
 계     1593
 Name: 2015, dtype: object,
 응급진료결과별(1)
 계    102529
 계     24006
 계      5244
 계      7250
 계      5074
 계      5020
 계      4375
 계      1447
 계         -
 계     21681
 계      3867
 계      2278
 계      3689
 계      6027
 계      2181
 계      4140
 계      4465
 계      1785
 Name: 2016, dtype: object,
 응급진료결과별(1)
 계    111727
 계     25562
 계      5605
 계      7539
 계      5482
 계      5003
 계      4780
 계      1450
 계         -
 계     24450
 계      4687
 계      2161
 계      3859
 계      6895
 계      2416
 계      4649
 계      5213
 계      1976
 Name: 2017, dtype: object,
 응급진료결과별(1)
 계    113455
 계     25811
 계      6108
 계      7387
 계      5772
 계      5176
 계      4773
 계      1535
 계         -
 계     24809
 계      4924
 계      2489
 계      3766
 계      6025
 계      2727
 계      4452
 계      5829
 계      1872
 Name: 2018, dtype: object,
 응급진료결과별(1)
 계    120584
 계     24653
 계      6610
 계      8217
 계      6742
 계      5499
 계      4788
 계      1642
 계         -
 계     28130
 계      5115
 계      3679
 계      3926
 계      6230
 계      3104
 계      4316
 계      5853
 계      2080
 Name: 2019, dtype: object,
 응급진료결과별(1)
 계    112874
 계     24086
 계      6441
 계      7234
 계      6223
 계      5155
 계      4412
 계      1634
 계       226
 계     25072
 계      4694
 계      3347
 계      3664
 계      6195
 계      2835
 계      4243
 계      5575
 계      1838
 Name: 2020, dtype: object,
 응급진료결과별(1)
 계    120305
 계     25348
 계      6868
 계      7686
 계      6799
 계      4865
 계      4280
 계      1764
 계       617
 계     27293
 계      5074
 계      3341
 계      4136
 계      6621
 계      2936
 계      4508
 계      6140
 계      2029
 Name: 2021, dtype: object]

In [83]:
len(tot_list)

8

In [86]:
die_list = []
for i in year_list:
    series = df_1.loc['사망',i]
    die_list.append(series)

In [87]:
die_list

[응급진료결과별(1)
 사망    423
 사망     45
 사망     19
 사망     42
 사망     14
 사망     33
 사망     23
 사망      5
 사망      -
 사망     60
 사망     19
 사망     10
 사망     11
 사망     21
 사망      7
 사망     15
 사망     97
 사망      2
 Name: 2014, dtype: object,
 응급진료결과별(1)
 사망    508
 사망     51
 사망     55
 사망     41
 사망     10
 사망     41
 사망     14
 사망      7
 사망      -
 사망     59
 사망     25
 사망     13
 사망     14
 사망     39
 사망     11
 사망     17
 사망    106
 사망      5
 Name: 2015, dtype: object,
 응급진료결과별(1)
 사망    503
 사망     71
 사망     49
 사망     35
 사망     22
 사망     39
 사망     10
 사망      4
 사망      -
 사망     69
 사망     19
 사망     17
 사망     12
 사망     41
 사망      6
 사망     22
 사망     82
 사망      5
 Name: 2016, dtype: object,
 응급진료결과별(1)
 사망    508
 사망     60
 사망     53
 사망     54
 사망     17
 사망     55
 사망     16
 사망      5
 사망      -
 사망     61
 사망     18
 사망     16
 사망     17
 사망     58
 사망     10
 사망     16
 사망     46
 사망      6
 Name: 2017, dtype: object,
 응급진료결과별(1)
 사망    555
 사망     83
 사망     51
 사망     32
 사망     25
 사망     41
 사망     16
 사망      3
 사망      -
 사망     88
 사망     31
 사망     15
 사망     24
 사망     38
 사망      7
 사망     15
 사망     78
 사망      8
 Name: 2018, dtype: object,
 응급진료결과별(1)
 사망    492
 사망     58
 사망     35
 사망     39
 사망     18
 사망     28
 사망     16
 사망      5
 사망      -
 사망     58
 사망     32
 사망     21
 사망     20
 사망     35
 사망     14
 사망     24
 사망     81
 사망      8
 Name: 2019, dtype: object,
 응급진료결과별(1)
 사망    565
 사망     90
 사망     22
 사망     55
 사망     19
 사망     26
 사망     24
 사망      9
 사망      3
 사망     89
 사망     18
 사망     17
 사망     24
 사망     35
 사망     15
 사망     13
 사망     99
 사망      7
 Name: 2020, dtype: object,
 응급진료결과별(1)
 사망    623
 사망     98
 사망     32
 사망     55
 사망     35
 사망     23
 사망     20
 사망      6
 사망      5
 사망    103
 사망     24
 사망     16
 사망     10
 사망     55
 사망     13
 사망     18
 사망    102
 사망      8
 Name: 2021, dtype: object]

In [88]:
die_list[0][8]

'-'

In [89]:
die_list[0][2]

'19'

In [91]:
die_list[0][17]

'2'

In [93]:
die_rate_dic = {}
die_rate_list = []

In [113]:
loc_list.insert(0,'전체')

In [118]:
year_list

['전체', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']

In [115]:
temp = []
for i in range(18):
    print()
    print(loc_list[i])
    if tot_list[6][i] == '-':
        temp.append(0)
        continue
    
    tot = int(tot_list[6][i])
    die = int(die_list[6][i])
    print(tot)
    print(die)
    
    rate = (die/tot)*100
    print(rate)
    print('-----------')
    temp.append(rate)
print(temp)

전체
112874
565
0.5005581444796853
-----------
서울
24086
90
0.3736610479116499
-----------
부산
6441
22
0.3415618692749573
-----------
대구
7234
55
0.7602985899917059
-----------
인천
6223
19
0.30531897798489477
-----------
광주
5155
26
0.504364694471387
-----------
대전
4412
24
0.543970988213962
-----------
울산
1634
9
0.550795593635251
-----------
세종
226
3
1.3274336283185841
-----------
경기
25072
89
0.354977664326739
-----------
강원
4694
18
0.3834682573498083
-----------
충북
3347
17
0.5079175380938153
-----------
충남
3664
24
0.6550218340611353
-----------
전북
6195
35
0.5649717514124294
-----------
전남
2835
15
0.5291005291005291
-----------
경북
4243
13
0.3063869903370257
-----------
경남
5575
99
1.7757847533632287
-----------
제주
1838
7
0.38084874863982593
-----------
[0.5005581444796853, 0.3736610479116499, 0.3415618692749573, 0.7602985899917059, 0.30531897798489477, 0.504364694471387, 0.543970988213962, 0.550795593635251, 1.3274336283185841, 0.354977664326739, 0.3834682573498083, 0.5079175380938153, 0.6550218340611353, 0.5649717514124294, 0.5291005291005291, 0.3063869903370257, 1.7757847533632287, 0.38084874863982593]

In [112]:
print(loc_list)

['서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주']